/* The Universal Selectors */
*{
    
    padding: 0;
}
/* Type Selectors */

body{
    background-color: seagreen;
    font-family: 'Courgette', cursive;
    font-family: 'Padauk', sans-serif;
}
/* class selector */
.heading{
    color: rgb(252, 206, 5);
    font-size: 200;

}
/*  ID Selectors */
#head{
    color: rgb(24, 26, 24);
    background-color: rgb(0, 255, 213);

}
h1.heading  {
    color: seashell;
    text-align: center;

    background-color: tomato;
}

/* Multiple Style */
#head2 {
    color: tomato;
    text-align: center;
    background-color: azure;  
}
#id p {
    color:purple;
}
/* attributes selector */
input [type="text"] {
    color:red ;
}
/* Grouping Selectors */
h2 , h3 , h4 {
    color: purple;
    
}
/* combine the various id selectors together */
#one , #two , #three {
    color: chartreuse;
}